#library {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  height: 50vh;
}

.book {
  background-color: rgba(244, 244, 244, 0.6);
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  width: 200px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.book:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.book-title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.book-author {
  font-size: 14px;
  color: #ccc;
  margin: 0;
  margin-bottom: 10px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.book-pages {
  font-size: 14px;
  color: #ccc;
  margin: 0;
  margin-bottom: 20px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.book-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.book-remove-button {
  background-color: rgba(0, 0, 87, 0.582);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.book-remove-button:hover {
  background-color: rgb(112, 121, 201);
  color: #eceff3;
}

/* Add active state to the book remove button */
.book-remove-button:active {
  transform: translateY(1px);
}

/* Style the add book form */
#add-book-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

#add-book-form label,
#add-book-form input {
  margin: 10px;
}

#add-book-form button[type="submit"] {
  background-color: #6b7c93;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

#add-book-form button[type="submit"]:hover {
  background-color: #fff;
  color: #6b7c93;
}

#add-book-form button[type="submit"]:active {
  transform: translateY(1px);
}

.header {
  display: flex;
  align-items: center;
  background-color: #6b7c93;
  color: #fff;
  height: 60px;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 20px;
  margin: 0;
}

.header-login-button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.header-login-button:hover {
  background-color: #fff;
  color: #6b7c93;
}

.header-login-button:active {
  transform: translateY(1px);
}
